*{
    margin: 0%;
    padding: 0%;
}

.container{
    padding: 10px;
}

table{
    
    width: 100%;
}


td{
    
    text-align: center;
    
    
}


table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}


th,td{
    /* background-color: rgb(135, 201, 203); */
    padding: 10px;
}











/*

table{
    border: 1px solid black;
    padding: 5px;
    width: 100%;
}

tr{
    display: flex;
    justify-content: space-between;
}

td,th{
    width: 25%;
}

*/

