*{
    margin: 0%;
    padding: 0%;
}

.container{
    padding: 10px;
    
    
}

.table-pagination{
    display: flex;
    margin-top: 10px;
}

table{
    width: 100%;
  
}


td{
    text-align: center;
}


table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}


th,td{
    /* background-color: rgb(135, 201, 203); */
    padding: 10px;
}


.btn{
    margin: 5px;
    height: 40px;
    width: 80px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    text-align:center;
   

}

.box2{
    /* border: 1px solid red; */
    display: flex;
    
}

.ten-box{
    margin: 5px;
    align-content: center;
    text-align:center;
    height: 40px;
    width: 80px;
    border: 1px solid blue;
    border-radius: 5px;
}











